ul {
    list-style-type: none;
}

nav ul {
    margin: 0 5vw;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-around;
}

nav {
    margin: 2.3rem 2rem 0 0;
}

nav li {
    padding: 0 0 8px 0;
}

nav li:hover {
    font-weight: 700;
}

main {
    display: flex;
    margin: 1rem 0;
    width: 100vw;
    flex-direction: column;
}

table {
    margin: 0 10vw 0 0;
}

.title {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0 0 0
}

.add_user {
    text-align: right;
    margin: 0 0 1rem 0
}

.user_adding {
    padding: 0.3rem 0.75rem;
    font-size: 1.5rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}

.user_adding:hover,
.edit-user:hover,
.remove-user:hover,
.navigation-button:hover {
    background-color: #dadada;
    cursor: pointer;
}

.user_adding:active,
.edit-user:active,
.remove-user:active,
.navigation-button:active {
    background-color: #cbcbcb;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 4rem;
}

th {
    font-weight: 400;
    font-size: 0.75rem;
}

td {
    font-weight: 700;
    font-size: 1rem;
}

.user_name {
    width: 25%;
}

.user_group,
.user_birthday {
    width: 20%;
}

.user_gender,
.user_options {
    width: 10%;
}

.user_status {
    width: 6%;
}

.user_check {
    width: 4%;
}

.status {
    font-size: 24px;
    color: #d8d8d8;
}

.status_active {
    color: #689e39
}

.table_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transform: translate(-5vw, 0);
    margin: 1rem;
}


.table_navigation svg,
.table_navigation text {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.table_navigation *:not(.disabled-svg):hover,
.table_navigation .current_tab {
    font-weight: 500;
    border-bottom: 2px solid black;
}

.table_navigation :hover {
    font-weight: 600;
}

.table_navigation svg {
    height: 18px;
    width: 18px;
    margin: 6px 8px 0 8px;
    text-align: center;
}

.table_navigation .disabled-svg {
    fill: #d8d8d8;
    cursor: default;
}

.table_navigation text {
    text-align: center;
    height: 24px;
    margin: 0 8px;
    user-select: none;
}

.red {
    background-color: red;
}

.pencil {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    padding: 4px;
}

.edit-user {
    margin-top: 4px;
}

td button {
    height: 34px;
    padding: 0;
    border: none;
    margin: 0px 4px;
}

#remove-warning-content {
    height: 350px;
}

.top-popup {
    padding: 8px 0 8px 0;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.top-popup,
.buttons {
    margin: 8px 0;
    padding: 0 16px;

}

.popup-title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
}

.cross-check,
.checkmark-check {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.cross-check {
    fill: #FF4141;
}

.checkmark-check {
    fill: #6BBE66;
}

#inputs-check {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inputs-check * {
    height: 24px;
}

.input-check {
    width: 80px;
    height: 60px;
}

.delete-info {
    height: 190px;
}

.navigation-button {
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    background-color: #f1f1f1;
    border-radius: 0.25rem;
}

.navigation-button:nth-of-type(2) {
    margin-left: 8px;
}

.buttons {
    margin-left: auto;
}

#filling-mistake {
    text-align: center;
    font-weight: 700px;
    font-size: 1.25rem;
    margin: 8px 8px 8px 16px;
    color: #db2b3d;
}

.bottom {
    padding-top: 16px;
    padding-bottom: 8px;
    border-top: 2px solid grey;
    display: flex;
    align-items: center;
}

.warning-text {
    text-align: justify;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (max-width: 780px) {
    content {
        flex-direction: column-reverse;
    }

    nav {
        margin: 50px 0px 0 0;
        bottom: 0;
        position: fixed;
        z-index: 0.1;
        color: white;
        width: 100vw;
        text-align: center;
        background-color: black;
    }

    nav li {
        display: inline-block;
        padding: 16px 16px;
    }

    table {
        margin: 0 3vw;
    }

    .table_navigation {
        transform: none;
        margin-bottom: 8vh;
    }

    thead * {
        height: 2.5rem;
    }
}

@media (max-height: 500px) {
    .table_navigation {
        margin-bottom: 11vh;
    }
}

@media (max-height: 400px) {
    .table_navigation {
        margin-bottom: 15vh;
    }
}

@media (max-width: 320px) {
    nav li {
        display: inline-block;
        padding: 16px 4px;
    }
}