main {
    max-width: 1000px;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.messages-container,
.chats-container {
    height: 82vh;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(23, 22, 22);
    border-radius: 0.5rem;
    margin: 0 2px 2px 2px;
}

.chats-container {
    width: 25vw;
}

.messages-container {
    width: 65vw;
}

.chat-header,
.chats-header {
    background-color: black;
    color: white;
    line-height: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}

.chat-header {
    text-align: center;
}

.chats-header {
    display: flex;
    justify-content: space-between;
}

div.chats-header>* {
    margin-left: 10px;
    margin-right: 10px;
}

.chat-footer {
    display: flex;
    padding: 0;
    margin: auto 0 0 0;
    background-color: black;
    border-top: 2px solid white
}

.send {
    border: none;
    background: none;
    margin: 0px 16px 4px 16px;
    padding: 2px;
    height: 30px;
    width: 30px;
    align-self: flex-end;
    color: #fff;
}

.message-text {
    margin: 8px 0 8px 8px;
    line-height: 1.5em;
    max-height: 6em;
    font-family: 'Cousine', monospace;
    overflow-y: auto;
    font-weight: 500;
    font-size: 1em;
    padding: 0 4px;
    width: fit-content;
    background-color: white;
    max-width: 634px;
    flex-basis: 90%
}

.add-chat {
    flex-basis: 10%;
    margin: 8px 0px 6px 0;
    padding: 0px 9px 3px 9px;
    border-radius: 50%;
    font-size: 1.5rem;
    align-self: baseline;
}

.add-chat:hover {
    background-color: white;
}

.chats-content,
.messages-content {
    overflow-y: auto;
}

.receiver-username {
    display: block;
    font-size: 0.65em;
    font-weight: 100;
}

.chats-content::-webkit-scrollbar,
.messages-content::-webkit-scrollbar,
.message-text::-webkit-scrollbar {
    background: white;
    border-left: 2px solid black;
    border-radius: 0.5rem;
    cursor: default;
}

.chats-content::-webkit-scrollbar-thumb,
.messages-content::-webkit-scrollbar-thumb,
.message-text::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0.5rem 0.5rem 0.3rem 0.5rem;
    cursor: default;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-container {
    display: flex;
    align-items: flex-end;
}

.message-container:last-of-type {
    margin-bottom: 8px;
}

.message {
    word-break: break-word;
    hyphens: auto;

    margin: 0;
    padding: 8px;
    max-width: 45vw;
}

.sent,
.received {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border: 2px solid black;
}

.sent+.sent,
.received+.received {
    margin: 2px 8px 0px 8px;
}

.received {
    background-color: black;
    color: white;
    border-radius: 1rem 1rem 1rem 0;
    align-self: flex-start;
}

.sent {
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
}

.time {
    opacity: 90%;
    font-size: 0.75em;
    margin: 5px;
}

.chat {
    border: 2px solid black;
    margin: 0px 6px 2px 6px;
    padding: 8px;
    border-radius: 0.5rem;
}

.chat:first-of-type {
    margin-top: 6px;
}

.chat:last-of-type {
    margin-bottom: 6px;
}

.chat:hover,
.selected {
    background-color: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

@media (max-width: 700px) {
    .chats-container {
        width: 35vw;
    }

    .messages-container {
        width: 55vw;
    }
}

@media (max-width: 600px) {
    .chat {
        font-size: 1.15em;
    }
}

.width-seventy {
    width: 70vw;
}

.width-eighty {
    width: 80vw;
}

.width-zero {
    width: 0vw;
    margin: 0;
    opacity: 0
}

.width-small {
    width: 54px;
}