header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
    padding: 1em 2.5em;
}

#nav_logo {
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
}

@media (max-width: 400px) {
    header {
        padding: 1em 0;
        justify-content: space-around;
    }
}