.nav-link {
    color: white;
}

#nav_username {
    font-size: 1.4rem;
    font-weight: 400;
    vertical-align: middle;
    color: white;
}

.pfp,
.bell {
    vertical-align: middle;
    width: 2em;
    height: 2em;
}

.pfp {
    border-radius: 50%;
    border: 1px solid cyan;
    margin-right: 5px;
    margin-left: 1rem;
}

.bell {
    padding-right: 2em;
}

.notification-icon {
    display: inline-block;
    height: 32px;
    width: 32px;
}

#notification-bar {
    position: absolute;
    width: 26.5rem;
    height: 5rem;
    background-color: white;
    transform: translate(-10rem, 0.5rem);
    border-radius: 0.5rem;
    border: 2px solid black;
    height: fit-content;
}

.notification-sender {
    width: 60px;
    text-align: center;
    display: inline-block;
}

.notification-sender img {
    margin: 8px 16px 0 16px;
}

.notification {
    display: flex;
    align-items: center;

}

.notification-bubble {
    background-color: #ccc;
    margin: 8px 8px;

    padding: 16px 16px;
    border: 2px solid #9b9b9b;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 100%;
}

.notification-arrow {
    position: fixed;
    display: inline-block;
    transform: translate(-1.6em, 0);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #9b9b9b;
}

#profile-header-bar {
    position: absolute;
    background-color: white;
    transform: translate(1rem, 0.5rem);
    border-radius: 0.5rem;
    padding: 0px 24px;
    border: 2px solid black;
    height: fit-content
}

.to-profile,
.log-out {
    margin: 8px 0;
}

.to-profile:hover,
.log-out:hover {
    cursor: pointer;
    text-decoration: underline;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}