.popup_container {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
}

.popup_container_content {
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.user_info {
    margin: 8px 0;
    padding: 0 16px;

}

.user_info {
    display: flex;
    flex-direction: column;
    height: 340px;
    font-size: 23px;
    justify-content: space-around;
}

div.user_info {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_info input,
.user_info select {
    height: 24px;
}

.search-input {
    width: 380px;
}


.user-info-content {
    display: flex;
    justify-content: space-evenly;
}

.user-info-texts,
.user-info-inputs {
    display: flex;
    flex-direction: column;
}

.user-info-texts text,
.user-info-inputs * {
    margin: 8px 0px
}

.user-info-inputs {
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form * {
    margin: 8px;
    align-self: center;
}

#login-signin,
#password-signin {
    font-family: 'Cousine', monospace;
    font-size: 1em;
    padding: 0.3rem 0.5rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    display: block;
}

.login_error {
    color: red;
    position: absolute;
    transform: translateY(100px);
    max-width: 400px;
    text-align: center;
}

#login {
    padding: 0.3rem 2rem;
    font-size: 1.25rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    display: block;
}

#login:hover {
    background-color: #dadada;
}

#login:active {
    background-color: #cbcbcb;
}

.cross {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    padding: 4px;
}

.exit-popup {
    height: 34px;
    padding: 0;
    border: none;
    margin: 0px 4px;
    background-color: transparent;
}

#close-adding:hover {
    background-color: #dadada;
    cursor: pointer;
}

#close-adding:active {
    background-color: #cbcbcb;
}

.up {
    transform: translateY(-25px);
}

@media (max-height: 500px) {
    .popup_container_content {
        height: 100vh;
    }
}

@media (max-height: 350px) {
    .popup_container_content {
        padding: 0;
        margin: 0;
    }

    .user_info {
        top: 0;
        justify-content: space-evenly;
        border-bottom-width: 1px;
        margin-top: 0;
    }
}

@media (max-height: 300px) {
    .popup_container_content {
        overflow-y: auto;
    }

    .up {
        transform: translateY(-10px);
    }
}