body {
    margin: 0;
    font-family: 'Cousine', monospace;
}

body,
html {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    cursor: pointer;
}

button:not(.user_adding) {
    font-family: 'Cousine', monospace;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

.visible {
    visibility: visible;
    opacity: 1;
}

.not-visible {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.right-top {
    margin: 8px 8px 8px auto;
}

.fixed {
    position: fixed;
}